////// トップページ ヘッダー部分 ////////
%header.header
  .header__inner
    .header__inner__top
      =link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983" ,alt: "mercari", height: "36", width: "134"
      %form.header-form{action: "https://www.mercari.com/jp/search/"}
        %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
        = fa_icon 'search'
    .header__inner__bottom.clearfix
      .header__inner__bottom--left
        =link_to categories_path ,class:"header__category" do
          = fa_icon 'list-ul', class: "left"
          %span.top カテゴリーから探す
        =link_to "" , class:"header__brand" do 
          = fa_icon 'tag', class: "left"
          %span.top ブランドから探す
      .header__inner__bottom--right
        - if user_signed_in?
          %ul.login-lists
            %li.login-li
              = fa_icon 'bell-o', class: "login-icon"
              .login-list お知らせ
            %li.login-li
              = fa_icon 'heart-o', class: "login-icon"
              .login-list いいね！一覧
            %li.login-li
              = fa_icon 'check', class: "login-icon"
              .login-list やることリスト
            %li.login-li
              = fa_icon 'user-o', class: "login-icon"
              = link_to "マイページ" , mypage_item_path(current_user) ,method: :get ,class:"login-list__mypage"
        - else
          =link_to "新規会員登録" , new_user_registration_path ,class:"header-btn signup"
          =link_to "ログイン", new_user_session_path ,class:"header-btn login"
