.main-content
  .pickup-title ピックアップカテゴリー
  .content  
    =link_to "レディース新着アイテム" , "" , class:"content__title"
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name ジーンズメンズ用お買い得
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
    %li.view-all
      =link_to "すべての商品を見る" , "" , class:"view-all"
  .content  
    =link_to "メンズ新着アイテム" , "" , class:"content__title"
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
    %li.view-all
      =link_to "すべての商品を見る" , "" , class:"view-all"
  .content  
    =link_to "ベビー・キッズ新着アイテム" , "" , class:"content__title"
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/thumb/photos/m51746328902_1.jpg?1564885956", alt: "", height: "220", width: "213"
          .item__text
            .item__text__name 長財布
            .item__text__num  
              .item__text__num--price ¥7,000
              .item__text__num--font
                .item__text__num--font.count
                  = fa_icon 'heart'
                .item__text__num--font.like 2
    %li.view-all
      =link_to "すべての商品を見る" , "" , class:"view-all"
