=render "header"

.detail-container
  .detail-container__box
    %h2=@item.name
    .item-content
      .item-content__photo
        .thumbnail
          -@image.each do |p|
            =image_tag "#{p.photo}",class: "thumbnail-image"
          -# -# = image_tag "https://www.asahicom.jp/articles/images/AS20190719000785_commL.jpg", class: "thumbnail-image"
          -# = image_tag "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg", class: "thumbnail-image"
          -# = image_tag "https://dol.ismcdn.jp/mwimgs/7/1/670m/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg", class: "thumbnail-image"
          -# = image_tag "https://cdn-ak.f.st-hatena.com/images/fotolife/h/haruharu5/20180813/20180813115403.jpg", class: "thumbnail-image"
          -# = image_tag "http://img06.shop-pro.jp/PA01137/802/product/84946209.jpg", class: "thumbnail-image"
          -# = image_tag "https://www.asahicom.jp/articles/images/AS20190719000785_commL.jpg", class: "thumbnail-image"
          -# = image_tag "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg", class: "thumbnail-image"
          -# = image_tag "https://dol.ismcdn.jp/mwimgs/7/1/670m/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg", class: "thumbnail-image"
          -# = image_tag "https://cdn-ak.f.st-hatena.com/images/fotolife/h/haruharu5/20180813/20180813115403.jpg", class: "thumbnail-image"
        .thumbnail-thumb
          -# = image_tag "https://www.asahicom.jp/articles/images/AS20190719000785_commL.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "https://dol.ismcdn.jp/mwimgs/7/1/670m/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "https://cdn-ak.f.st-hatena.com/images/fotolife/h/haruharu5/20180813/20180813115403.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "http://img06.shop-pro.jp/PA01137/802/product/84946209.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "https://www.asahicom.jp/articles/images/AS20190719000785_commL.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "https://dol.ismcdn.jp/mwimgs/7/1/670m/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg", class: "thumbnail-thumb__photo"
          -# = image_tag "https://cdn-ak.f.st-hatena.com/images/fotolife/h/haruharu5/20180813/20180813115403.jpg", class: "thumbnail-thumb__photo"

      -# .item-content__table 写真を挿入
      %table.item-content__table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "#{@item.user.nickname}",root_path
              .item-content__table__rate
                .rate-list
                  %i.fas.fa-laugh
                  %span 100
                .rate-list
                  %i.fas.fa-meh
                  %span 50
                .rate-list
                  %i.fas.fa-frown
                  %span 0
          %tr
            %th カテゴリー
            %td
              =link_to "#{@item.category.name}",""
              -# -# %br
              -# -# = fa_icon 'angle-right' 
              -# -# =link_to "スキンケア/基礎化粧品" , ""
              -# -# %br
              -# -# = fa_icon 'angle-right'
              -# -# =link_to "クレンジング/メイク落とし" , ""
              -# .item-detail-table-sub-sub-category
                %i.icon-arrow-right
          %tr
            %th ブランド
            %td
              =link_to "#{@item.brand}",root_path
          %tr
            %th 商品の状態
            %td 未使用に近い
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              =link_to "#{@item.area}",root_path
          %tr
            %th 発送日の目安
            %td 1~2日で発送
    .item-price-box
      %span.item-price-box__yen="¥"+@item.price.to_s(:delimited)
      %span.item-price-box__tax (税込)
      %span.item-price-box__fee 送料込み
    - if user_signed_in? && current_user.id != @item.user_id
      %button.btn-default.btn-red{type: "submit"}
        %h2 購入画面に進む


    .item-content-text=@item.detail
    .item-button-content
      .item-button-content__left
        %span.item-button-like
          %span{style:"padding-right:6px"} いいね!
          =render partial:'goods/good', locals:{item:@item}
          %span.good-count{style:"padding-left:6px"}= @item.goods.count
        .item-button-flag
        %a.item-button-like{href: ""}
          = fa_icon 'flag' 
          %span 不適切な商品の報告
      .item-button-content__right
        = fa_icon 'key' 
        =link_to "あんしん・あんぜんへの取り組み" , root_path ,class:"header-btn signup"

  .message-content
    .message-content-text
      - if user_signed_in? && current_user.id = @item.user_id
        =link_to "商品の編集" ,edit_item_path(@item),class:"edit-btn"
        %br
        %h5{style:"text-align:center"} or
        =link_to "出品を一旦停止する" ,"",class:"edit-btn--gray"
        =link_to "この商品を削除する", "/items/#{@item.id}", method: :delete, class:"edit-btn--gray",data: { confirm: '本当に削除してよろしいですか？' }
  .message-content
    .message-content-text

      %form.message-form{action: "", method: "POST"}
        %input{name: "__csrf_value", type: "hidden", value: ""}/
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{name: "item_id", type: "hidden", value: "m62740205964"}/
        %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
        %textarea.textarea-default{name: "body", type: "text", value: ""}
        %button.btn-gray{type: "submit"}
          %span コメントする

    - if user_signed_in? && current_user.id != @item.user_id
      %ul.nav-item
        %li.link--prev
          =link_to detail_item_path(@land_item)  ,class:"link--text" do
            = fa_icon 'angle-left'
            =@land_item.name
        %li.link--next
          =link_to detail_item_path(@land_item2),class:"link--text" do
            = fa_icon 'angle-right'
            =@land_item2.name

      .message-content
        %ul.message-content__social
          %li
            =link_to "/users/auth/facebook", class: "facebook-icon" do
              =fa_icon "facebook-square", class: "facebook"
          %li
            =link_to "/users/auth/twitter", class: "twitter-icon" do
              =fa_icon "twitter-square", class: "twitter"
          %li
            =link_to "", class: "pinterest-icon" do
              =fa_icon "pinterest", class: "pinterest"
      .other-item
        =link_to "#{@item.user.nickname}さんのその他の商品" ,"",class:"other-item__title"
        .other-item__content
        -@item.user.items.last(3).each do |user_item|
          .item-box
            =link_to detail_item_path(user_item) do
              %figure.item-box__image
              -user_item.images.each do |image|
                = image_tag "#{image.photo}", class: 'item-box__image--height'
            .item-box__body
              %h3.item-box__body--name=user_item.name
              .item-box__body--num
                .item-box__body--num--price="¥"+user_item.price.to_s(:delimited)
                .num-font
                  = fa_icon 'heart'
                  %span.good-count{style:"padding-left:6px"}= @item.goods.count

      .other-item
        =link_to "#{@item.category.name}その他の商品","",class:"other-item__title"
        .other-item__content
        -@item.category.items.last(3).each do |category_item|
          .item-box
            =link_to detail_item_path(category_item) do
              %figure.item-box__image
              -category_item.images.each do |image|
                = image_tag "#{image.photo}", alt: '', class: 'item-box__image--height'
            .item-box__body
              %h3.item-box__body--name=category_item.name
              .item-box__body--num
                .item-box__body--num--price="¥"+category_item.price.to_s(:delimited)
                .num-font
                  = fa_icon 'heart'
                  %span.good-count{style:"padding-left:6px"}= @goods

=render "footer"