.thumbnail
  = image_tag "https://www.asahicom.jp/articles/images/AS20190719000785_commL.jpg", class: "thumbnail-image" 
  = image_tag "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg", class: "thumbnail-image", data: {original: "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg"}
  = image_tag "https://dol.ismcdn.jp/mwimgs/7/1/670m/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg", class: "thumbnail-image"
  = image_tag "https://cdn.mofmo.jp/v3/640/imeditor_storage/1/article/387788440.jpg", class: "thumbnail-image"
  = image_tag "http://teamhope-f.jp/content/images/cr/40212361sq.jpg", class: "thumbnail-image"
  = image_tag "https://amd.c.yimg.jp/im_sigg8iAANKtlktGWpKlpkSPTEQ---x400-y400-q90-exp3h-pril/amd/20190811-11000106-maidonans-000-16910812-view.jpg", class: "thumbnail-image"
  = image_tag "https://stat.ameba.jp/user_images/20190809/10/catpurr/f4/fd/j/o1280096014526886245.jpg?caw=800", class: "thumbnail-image"
  = image_tag "https://blogimg.goo.ne.jp/user_image/19/c6/e254690905f16e8176b628745bfb5baf.jpg", class: "thumbnail-image"
  = image_tag "https://amd.c.yimg.jp/im_siggoZfs3KTMhwzFIrDkqOW2.A---x400-y327-q90-exp3h-pril/amd/20190810-00000016-mai-000-2-view.jpg", class: "thumbnail-image"
  = image_tag "https://break-time.net/wp-content/uploads/2019/08/1908_nekofloor_00.jpg", class: "thumbnail-image"

.thumbnail-thumb
  = image_tag "https://www.asahicom.jp/articles/images/AS20190719000785_commL.jpg", class: "thumbnail-thumb__photo"
  = image_tag "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg", class: "thumbnail-thumb__photo", data: {lazy: "https://www.1242.com/lf/asset/uploads/2018/01/dog-3045116_1280a.jpg"}
  = image_tag "https://dol.ismcdn.jp/mwimgs/7/1/670m/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg", class: "thumbnail-thumb__photo"
  = image_tag "https://cdn.mofmo.jp/v3/640/imeditor_storage/1/article/387788440.jpg", class: "thumbnail-thumb__photo"
  = image_tag "http://teamhope-f.jp/content/images/cr/40212361sq.jpg", class: "thumbnail-thumb__photo"
  = image_tag "https://amd.c.yimg.jp/im_sigg8iAANKtlktGWpKlpkSPTEQ---x400-y400-q90-exp3h-pril/amd/20190811-11000106-maidonans-000-16910812-view.jpg", class: "thumbnail-thumb__photo"
  = image_tag "https://stat.ameba.jp/user_images/20190809/10/catpurr/f4/fd/j/o1280096014526886245.jpg?caw=800", class: "thumbnail-thumb__photo"
  = image_tag "https://blogimg.goo.ne.jp/user_image/19/c6/e254690905f16e8176b628745bfb5baf.jpg", class: "thumbnail-thumb__photo"
  = image_tag "https://amd.c.yimg.jp/im_siggoZfs3KTMhwzFIrDkqOW2.A---x400-y327-q90-exp3h-pril/amd/20190810-00000016-mai-000-2-view.jpg", class: "thumbnail-thumb__photo"
  = image_tag "https://break-time.net/wp-content/uploads/2019/08/1908_nekofloor_00.jpg", class: "thumbnail-thumb__photo"

