= render "items/header"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
////// マイページ ////////
.mypage
  .mypage__content
    = render "items/sidebar"

    .mypage-main
      .mypage-main__icon
        = image_tag "https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?1355409", alt: "", height: "200", width: "700"
        %a
          %figure
            = image_tag rand_image.sample , alt: "", height: "60", width: "60"
            -# = image_tag "//static.mercdn.net/thumb/members/255443527.jpg?1499692952" , alt: "", height: "60", width: "60"
          %h2.my-name=@nickname
          .mypage-number
            評価
            %span.count 0
            出品数
            %span.count=@user.items.count
      .mypage-main__content
        %ul.tabs
          %li.tab.knowledge お知らせ
          %li.tab.to_do やることリスト
        .tab-content
          %ul.tab-content__list.knowledge
            %li
              .figure
                = link_to "https://www.mercari.com/jp/mypage/news/" do
                  .tab-content__list__image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png", alt: "", height: "48", width: "48"
                  .tab-content__list__body
                    .tab-content__list__body--text 事務局から個人メッセージ「ログイン通知」
                    .tab-content__list__body--time
                      = fa_icon 'search'
                      %span 1日前 
                  = fa_icon 'angle-right',class:"tab-icon"
            %li
              .figure
                = link_to "https://www.mercari.com/jp/mypage/news/" do
                  .tab-content__list__image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png", alt: "", height: "48", width: "48"
                  .tab-content__list__body
                    .tab-content__list__body--text 事務局から個人メッセージ「ログイン通知」
                    .tab-content__list__body--time
                      = fa_icon 'search'
                      %span 1日前 
                  = fa_icon 'angle-right',class:"tab-icon"
            %li
              .tab-content__look
                = link_to "一覧を見る" ,"" 

    .mypage-sub
      .mypage-sub__head 購入した商品
      .mypage-main__content
        %ul.tabs
          %li.tab.doing 取引中
          %li.tab.done 過去の取引
      .mypage-sub__content{style:"height:550px;"}
        %ul.tab-content__list.doing
          .mypage-sub__content--icon
            = image_tag "//www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?1355409", alt: "", height: "90", width: "90",class:"single-footer-logo"
            .mypage-sub__content--notfound 取引中の商品がありません
        %ul.tab-content__list.done
          -@items.each do |item|
            %li
              .figure
                =link_to detail_item_path(item) do
                  .tab-content__list__image
                    -item.images.each do |image|
                      =image_tag "#{image.photo}",height: "60",width: "60"
                  .tab-content__list__body
                    .tab-content__list__body--text="「#{item.name}」を購入しました。取引が完了しました。"
                    .tab-content__list__body--time
                      %span{style:"background-color: #888; color:white; padding:5px 5px; border-radius:2px;"} 取引完了
                  %i.fa.fa-angle-right.tab-icon
          %li
            .tab-content__look
              = link_to "一覧を見る" ,"" 


= render "items/footer"