.sign-up-body
  .sign_up2__header
    =link_to "https://www.mercari.com/jp/" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863353983", alt: "mercari", class: "image_sign_up_small"
    .step_bar
      %ul.cp_stepflow01
        %li.active
          会員情報
          %span.bubble
        %li
          電話番号認証
          %span.bubble
        %li
          お届け先住所入力
          %span.bubble
        %li
          支払い方法
          %span.bubble
        %li
          完了
          %span.bubble>
  .sign_up2__main
    .sign_up2__main__header
      %h2.main2 会員情報入力
    .sign_up2__main__form
      = form_for @user, url: "user_session_path" do |f|
        .form__nickname
          .form__nickname__label
            = f.label :name, 'ニックネーム　'
            = f.label :name, '必須', class: "attention"
          = f.text_field :nickname, size: "35", class: "form", placeholder: "例)メルカリ太郎"
        .form__email
          = f.label :name, 'メールアドレス'
          = f.label :name, '必須', class: "attention"
          = f.email_field :email, size: "35", class: "form", placeholder: "PC・携帯どちらでも可"
        .form__password
          = f.label :name, 'パスワード　'
          = f.label :name, '必須', class: "attention"
          = f.password_field :encrypted_password, size: "35", class: "form", placeholder: "7文字以上"
        .form__password__confirmation
          = f.label :name, "パスワード　確認"
          = f.password_field :password_confirmation, size: "35", class: "form", placeholder: "7文字以上"
        .form__text
          %h3 本人確認
          %h4 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .form__name
          = f.label :name, 'お名前(全角)　　', class: "name"
          = f.label :name, '必須', class: "attention"
          = f.text_field :name, size: "16", class: "form", placeholder: "例)山田"
          = f.text_field :name, size: "14", class: "form", placeholder: "例)太郎"
        .form__kana
          = f.label :name, 'お名前カナ(全角)　'
          = f.label :name, '必須', class: "attention"
          = f.text_field :name_kana, size: "15", class: "form", placeholder: "例)ヤマダ"
          = f.text_field :name_kana, size: "15", class: "form", placeholder: "例)タロウ"
        .form__birth
          .form__birth__label
            = f.label :name, '生年月日　'
            = f.label :name, '必須', class: "attention"
          .form__birth__field
            = raw sprintf(f.date_select(:birthday, use_month_numbers: true, start_year: 1935, end_year: (Time.now.year - 18), include_blank: true, date_separator: '%s', size: "35"), '年 ', '月 ') + '日'
          %h4.birth ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .form_captcha
          I am not robot
          %h4 次へ進むのボタンを押すことにより、利用規約に同意したものとみなします
        %p.buttom1 次へ進む
        = link_to "本人登録について＞", "https://www.mercari.com/jp/help_center/article/423/", class: "link1"
  .sign_up__footer
    %nav
      %li
        %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー&emsp;
      %li
        %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約&emsp;
      %li
        %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    =link_to "https://www.mercari.com/jp/", class: "single-footer-logo" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3791839826", alt: "mercari", height: "65", width: "80", class: "single-footer-logo"
    %p
      %small © 2019 Mercari
