////// マイページ ////////
.mypage
  .mypage__content
    = render "sidebar"

    .mypage-main
      -# .mypage-main__head "タイトル" 
      .mypage-main__icon
        %a{:href => "https://www.mercari.com/jp/u/255443527/"}
          %figure
            %img{:alt => "", :height => "60", :src => "//static.mercdn.net/thumb/members/255443527.jpg?1499692952", :width => "60"}/ 
          %h2.bold 名前
          .mypage-number
            %div
              評価
              %span.bold 80
            %div
              出品数
              %span.bold 24
      .mypage-main__content
        %ul.tabs
          %li お知らせ
          %li やることリスト
        .tab-content
          %ul.tab-content__list
            %li
              .figure
                = link_to "/jp/mypage/news/",class:"sidebar__list--item" do
                  .tab-content__list__image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png", alt: "", height: "48", width: "48"
                  .tab-content__list__body
                    .tab-content__list__body--text あああ
                    .tab-content__list__body--time
                      = fa_icon 'search'
                      %span 1日前 
                  = fa_icon 'angle-right',class:"tab-icon"
            %li
              .figure
                = link_to "/jp/mypage/news/",class:"sidebar__list--item" do
                  .tab-content__list__image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png", alt: "", height: "48", width: "48"
                  .tab-content__list__body
                    .tab-content__list__body--text あああ
                    .tab-content__list__body--time
                      = fa_icon 'search'
                      %span 1日前 
                  = fa_icon 'angle-right',class:"tab-icon"